.mainContent {
  background: #fff;
  margin: 24px 24px 24px;
  padding: 24px 24px 24px;
}

.header {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  padding: 0 4rem;
}

.headerUserName {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
}

.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  font-size: large;
}
