.mainContent {
  background: #fff;
  margin: 24px 24px 24px;
  padding: 24px 24px 24px;
}

.header {
  background: #fff;
  padding: 0 40px;
}

.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  font-size: large;
}
